/* Colores de fondo y estilos generales */
.navbg {
  background-color: #022446;
  background-size: cover;
}

/* Estilos para el logo y la navegación */
.navlogo {
  width: 8vh;
  height: 8vh;
  display: inline-block;
  text-rendering: geometricPrecision;
}

.banner{
  width: 100%;
  height: auto;
}

.derecha a {
  color: white;
  right: 2vh;
}

/* Estilos para imágenes y botones */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}

/* Estilos para divisores y otros elementos comunes */
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* Estilos para botones */
.btn {
  background: #000000; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #333333;
}

/* Estilos para el contenedor de opciones y alineación de elementos internos */
.opciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  width: 100%;
  overflow: hidden;
  border-radius: 1vh;
  background-color: rgba(44, 61, 214, 0.329);
}
/* Estilos para ajustar la imagen */

.image{
    max-width: 55%; /* Ajusta este valor según necesites */
    height: auto;
    border-radius: 5vh;
    float: left;
    
}

.image2 {
  float: right;
  max-width: 55%; /* Ajusta este valor según necesites */
  height: auto;
  border-radius: 5vh;
}


/* Estilos para el contenedor de la imagen */
.image-container {
  width: 10%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para el box de la imagen */
.image-box {
  width: 10%;
  margin: 2.5%;
  text-align: center;
}

.image-box img {
  max-width: 50%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-text {
  margin-top: 10px;
}

/* Estilos para la caja de texto, asegurándose de que no hay flotación si se usa flexbox */
.text-box {
  width: 100%; 
}
