{% extends 'logins/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-center">Listado de Productos</h2>
        <!-- Botón para ir al carrito -->
        {% if user.is_authenticated %}
        <a href="{% url 'carrito' %}" class="btn btn-info">Ver Carrito</a>
        {% endif %}
    </div>
        



    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ producto.imagen.url }}"  class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Precio: ${{ producto.precio }}</li>
                        <li class="list-group-item">
                            {% if producto.disponible %}
                                <span class="badge bg-success">Disponible</span>
                                <a href="{% url 'detalles_producto' producto.id %}" class="btn btn-primary btn-sm">Ver Detalles</a>

                            
                            {% if user.is_authenticated %}
                                <form action="{% url 'agregar_al_carrito' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                    <button type="submit" class="btn btn-primary btn-sm">Agregar al Carrito</button>
                                </form>
                            {% endif %}
                            
                            {% else %}
                                <span class="badge bg-secondary">No Disponible</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No hay productos disponibles.
                </div>
            </div>
        {% endfor %}
    </div>
</div> 
<p></p>
<div class="espacio-footer"></div>
<p></p>
<div class="espacio-footer"></div>


{% endblock content %}
