{% extends 'logins/base.html' %}
{% load static %}
{% block content %}

<img class="banner" src="{% static 'Banners/Figuras.png' %}"></img>

<P></P>


<div class="containerfig">

  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura1.png' %}" alt="Portada">
  </div>

  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura2.png' %}" alt="Portada">
  </div>


  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura3.png' %}" alt="Portada">
  </div>


  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura4.png' %}" alt="Portada">
  </div>


  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura5.png' %}" alt="Portada">
  </div>


  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura6.png' %}" alt="Portada">
  </div>


  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura7.png' %}" alt="Portada">
  </div>


  <div class="grid-itemfig">
    <img class="card-img-top" src="{% static 'Figuras/figura8.png' %}" alt="Portada">
  </div>



</div>





{% endblock %}