{% extends 'logins/base.html' %}

{% block content %}

<div class="container">
    <h2>Listado de Menús</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
            <tr>
                <td>{{ menu.nombre }}</td>
                <td>{{ menu.descripcion }}</td>
                <td>${{ menu.precio }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay menús disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}