{% extends 'logins/base.html' %}
{% load static %}
{% block content %}

<img class="banner" src="{% static 'Banners/MANGAS.png' %}"></img>

<P></P>

<div class="containermanga">
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga1.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga2.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga3.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga4.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga5.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga6.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga7.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga8.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga9.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga10.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga11.png' %}" alt="Portada">
  </div>
  <div class="grid-item">
    <img class="card-img-top" src="{% static 'mangas/manga12.png' %}" alt="Portada">
  </div>

</div>

{% endblock %}