{% extends 'logins/base.html' %}
{% load static %}
{% block content %}

<img class="banner" src="{% static 'Banners/otros.png' %}"></img>

<P></P>
<div class="otros">

<div class="grid-itemot">
    <img class="card-img-top" src="{% static 'otros/otros1.png' %}" alt="Portada">
</div>

<div class="grid-itemot">
    <img class="card-img-top" src="{% static 'otros/otros2.png' %}" alt="Portada">
</div>

<div class="grid-itemot">
    <img class="card-img-top" src="{% static 'otros/otros3.png' %}" alt="Portada">
</div>

<div class="grid-itemot">
    <img class="card-img-top" src="{% static 'otros/otros4.png' %}" alt="Portada">
</div>

<div class="grid-itemot">
    <img class="card-img-top" src="{% static 'otros/otros5.png' %}" alt="Portada">
</div>

<div class="grid-itemot">
    <img class="card-img-top" src="{% static 'otros/otros6.png' %}" alt="Portada">
</div>



</div>



{% endblock %}