{% extends 'logins/base.html' %}
{% load static %}
{% block content %}

<img class="banner" src="{% static 'Banners/ROPA.png' %}"></img>

<P></P>

<div class="containerropa">
  <div class="grid-itemropa">
    <img class="card-img-top" src="{% static 'ropa/ropa1.png' %}" alt="Portada">
  </div>
  <div class="grid-itemropa">
    <img class="card-img-top" src="{% static 'ropa/ropa2.png' %}" alt="Portada">
  </div>
  <div class="grid-itemropa">
    <img class="card-img-top" src="{% static 'ropa/ropa3.png' %}" alt="Portada">
  </div>
  <div class="grid-itemropa">
    <img class="card-img-top" src="{% static 'ropa/ropa4.png' %}" alt="Portada">
  </div>
  <div class="grid-itemropa">
    <img class="card-img-top" src="{% static 'ropa/ropa5.png' %}" alt="Portada">
  </div>
  <div class="grid-itemropa">
    <img class="card-img-top" src="{% static 'ropa/ropa6.png' %}" alt="Portada">
  </div>


</div>





{% endblock %}